.centerlogo{
	display: block;
  margin-left: auto;
  margin-right: auto;
}
	table, th, td {
   /* border: 1px solid black;*/
}
.tabs .tab a {
  color: #26a69a;
 
}

.tabs .tab a:hover {
  color: #26a69a;
}

.tabs .tab.disabled a {
  color: #26a69a;
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #26a69a;
  will-change: left, right;
}

@media only screen and (max-device-width: 1000px) {
    .mevoy{
      width: 20px;
      height: 20px;
      position: relative;
    }
}

body{
  overflow-x:hidden;
}
